*{
    box-sizing: border-box;
}
/* General Settings */
body{
    padding:30px;
}
.box{
    width:230px;
    height:250px;
    margin:10px;
    border:solid 1px #000;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.box-sm{
    width:100px;
    height:100px;
    border:solid 1px #000;
    position: absolute;
    top:20px;
    right:20px;
}
.box-lg{
    width:250px;
    height:350px;
    border:solid 1px #000;
    display: inline-block;
    vertical-align: top;
    margin:15px;
}
.box-full{
    border:solid 1px #000;
    margin:10px;
    padding: 20px;
}
.box-full h2{
    color:#FFFFFF;
    font-size:6rem;
    font-weight:800;
    margin:0;
    text-shadow: #000 2px 2px 2px;
}
/* Background Colors */
.hex{
    background-color: #24bdb1;
}
.rgb{
    background-color: rgb(112, 104, 219 );
}
.rgba{
    background-color: rgba(255,255,255,.5);
}
.hsl{
    background-color: hsl(34, 95%, 90%);
}
.hsla{
    background-color: hsla(34, 95%, 50%, .3);
}
.named{
    background-color: lightsalmon;
}
/* Background Images */
.dot{
    background-color: #000000;
    background-image: url(../images/dot.png);
}
.no-repeat{
    background-repeat: no-repeat;
}
.repeat-x{
    background-repeat: repeat-x;
}
.repeat-y{
    background-repeat: repeat-y;
}
.repeat-space{
    background-repeat: space;
}
.repeat-round{
    background-repeat: round;
}
.pos-bottom-center{
    background-position: bottom center ;
}
.pos-custom{
    background-position: 130px center;
}
.bg-img{
    background-image: url(../images/pizza.png);
}
/* Tables  */

/* Hover  */

/* Adjacent sibling combinator. (+)
It combines two sequences of simple selectors having the same parent 
and the second one must come IMMEDIATELY after the first. */
.hoverHide:hover + .hidden{
    
}
